.spacer {
  flex: 1 1 auto;
}

.header {
  background-color: rgb(177, 33, 33);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ocupa a altura total da tela
}
